.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.4fr 1fr 1fr 0.7fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr;
    grid-template-areas: 
        "item1 item1 item1 item1"
        "item2 item3 item3 item4"
        "item2 item3 item3 item4"
        "item2 item3 item3 item5";
}

#item1 { 
    grid-area: item1;
}

#item2 { 
    grid-area: item2;

}
#item3 { 
    grid-area: item3;
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#item4 { 
    grid-area: item4;
    background-color: rgb(255, 255, 255);
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(216, 216, 216);
}
#item5 {
    grid-area: item5;
    background-color: rgb(236, 236, 236);
}



