.form-container {
	width: 90%;
	margin-top: 40px;
	background-color: white;
	padding: 30px 20px;
	border-radius: 10px;
	border: 1px solid rgb(216, 216, 216);
	font-size: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.error_msg {
	width: 100%;
	padding: 5px;
	margin: 5px 0 10px;
	font-size: 14px;
	/* background-color: #f34646; */
	background-color: #ffd1d1;
	border: 1px solid #f34646;
	color: red;
	/* color: #f34646; */
	border-radius: 5px;
	text-align: center;
}

tr {
	padding: 0;
}

td {
	padding: 0;
}

p {
	margin: 20px 0;
}

.submit-btn, .cancel-btn {
	padding: 8px 12px !important;
	text-decoration: none;
	font-size: 90%;
}

input[type="text"], 
select, 
input[type="email"], 
input[type="tel"],
textarea,
option {
	padding: 4px;
	border-radius: 5px;
	width: 150px;
	border: 1px solid rgb(197, 197, 197);
}

textarea {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	;
}

select {
	width: 150px;
	border: 1px solid rgb(197, 197, 197);
}

label {
	font-size: 100%;
}

.cancel-btn-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.submit-btn {
	border-radius: 0;
	cursor: pointer;
}

.submit-btn:hover {
	background-color: rgb(0, 122, 198) !important;
}

.cancel-btn {
	height: 100%;
}

.cancel-btn:hover {
	background-color: black;
}

.left, .right {
	display: flex;
	/* flex-direction: row; */
	width: 100%;
	/* background-color: gray; */
}

.form-two-sides {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;	
}

.form-commands {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 20px 0 0;
}